* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

h1 {
	text-align: center;
	margin: 65px auto;
	position: absolute;
	width: 100%;
}

.container {
	width: 400px;
	height: 304px;
	border: 1px solid black;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.insert {
	border: 1px solid black;
	height: 90px;
}

.input {
	/*border: 1px solid red;*/
	margin: 5px;
	display: inline-block;
	width: 67%;
	height: 88%;
}

.buttons {
	/*border: 1px solid lightGreen;*/
	margin: 5px;
	display: inline-block;
	width: 25%;
	height: 88%;
	position: relative;
	top: -11%;
	left: 0%;
}

.button {
	display: block;
	border: 1px solid black;
	text-decoration: none;
	background-color: gray;
	color: white;
	padding: 5px 10px;
	text-align: center;
	width: 60px;
	margin: 5px auto;
	border-radius: 20px;
}

textarea {
	margin: 3px;
	padding: 2px 3px;
}

.display {
	overflow: auto;
	border: 1px solid blue;
	height: 212px;
}

.task {
	border: 1px solid black;
	height: 68px;
	margin: 1px;
	display: grid;
	grid-template-rows: 2fr 1fr;
	grid-template-columns: 1fr 1fr;
}

#task {
	grid-column: 1 / span 2;
	padding: 2px 5px;
}

#date {
	padding: 3px 5px;
}

#checked {
	text-align: right;
	padding: 3px 5px;
}

#completed {
	border: 1px solid black;
}